body {
	font-family: 'Open Sans', sans-serif;
}

.row .row {
	margin-top: 0px;
	margin-bottom: 0;
}

h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* SECTIONS */
/* header */

#logo {
	width: 160px;
	margin-bottom: -72px;
}

@media screen and (max-width: 750px) {
	#logo {
		width: 80px;
		margin-bottom: 0px;
	}
}

#nav-container {
	background-color: white;
}

.navbar {
	margin-bottom: 0;
}

.nav-link {
	font-family: "Work Sans", sans-serif;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 14px;
	letter-spacing: 4.9px;
	color: black;
}

@media screen and (max-width: 992px) {
	.nav-link {
		letter-spacing: 2px;
	}
}

@media screen and (max-width: 750px) {
	.nav-link {
		font-size: 18px;
		letter-spacing: 4.9px;
		text-align: center;
	}
}


.nav-link a {
	color: black;
	font-weight: 500;
}

.nav > li > a{
	padding: 15px 0 10px;
	margin: 20px 10% 14px;
	border-bottom: 2px solid transparent;
}

.nav > li > a:focus,
.nav > li > a:hover {
    text-decoration: none;
    background-color: transparent;
    border-bottom: 2px solid #000;
}

.icon-bar {
	background-color: black;
}

.hero {
	background-color:#efeee7;
	padding: 8% 10% 12% 10%;
}

.hero .col-xs-6 {
	background-color:#efeee7;
	border: none;
}

#footer {
	background-color: #efeee7;
}

#footer h3 {
	text-transform: uppercase;
	font-weight: 300;
	font-size: 11px;
	letter-spacing: .35em;
	float: right;
	margin-right: 5%;
}

#block {
	height: 300px;
	width: 100%;
}

.block-black {
	background-color: black;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 5%;
	padding-bottom: 5%;
}

.block-beige {
	background-color: #efeee7;
}

.block-white {
	background-color: white;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 5%;
	padding-bottom: 5%;
}

.big {
	background-color:#efeee7;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 5%;
	padding-bottom: 5%;
}

.feature {
	height:30%;
	margin-bottom: 30px;
}

.feature-images {
	padding: 40px 10% 50px;
	background-color: #B0AEA1;
}

.section {
	margin-top: 120px;
}

/* TYPE */

h1 {
	font-family: "Work Sans", sans-serif;
	text-transform: uppercase;
	font-weight: 800;
	font-size: 100px;
	letter-spacing: .03em;
	line-height: 108px;
	color: black;
	margin-bottom: 5%;
}

h2 {
	font-weight: 400;
	letter-spacing: 1.2px;
	font-size: 34px;
	line-height: 60px;
	color: black;
}

p {
	margin-bottom: 1.5em;
}


p, ul {
	font-size: 23px;
	font-weight: 100;
	letter-spacing: 0.5px;
}

li {
	padding-bottom: 0.75em;
}

.block-black h2 {
	color:  white;
}

a {
	color:#214ba0;
}

.code {
	background-color: white;
	color: black;
	padding: 1em;
	margin-bottom: 2em;
	border-radius: 2px;
}

/* BUTTON */

h3 {
	text-transform: uppercase;
	font-weight: 600;
	font-size: 14px;
	letter-spacing: .35em;
	color: black;
}

.btn {
	border-color: black;
	border-style: solid;
	border-width: 4px;
	width: 90%;
	margin-top: 5%;
	background-color: #efeee7;
}

.btn:hover {
	background-color: #214ba0;
	border-color: #214ba0;
}

.btn:hover h3 {
	color: white;
}

/* FORM */

input {
	border-radius: 4px;
	width: 90%;
}

textarea {
	width: 90%;
}

input:focus {
	outline-color:#214ba0;
}

textarea:focus {
	outline-color:#214ba0;
}

@media screen and (min-width: 901px) and (max-width: 1024px)  {

	.hero {
		background-color:#efeee7;
		padding: 8% 10% 2% 10%;
	}

	#block {
		width: 100%;
	}

	#big {
	}

	#big-2 {
	}

	#big-3 {
	}

	h1 {
		font-size: 65px;
		line-height: 75px;
	}

	h2 {
		font-size: 25px;
		line-height: 30px;
	}

	p, ul {
		font-size: 17px;
	}

	textarea {
	  height: 50px;
	}

	#big-2 .btn h3 {
		font-size: 10px;
		letter-spacing: .2em;
	}

	.block-beige img {
		background-color: #efeee7;
	}
}

@media screen and (min-width: 600px) and (max-width: 900px) {

	.hero {
	}

	.hero .col-xs-6 #Layer_1 {
		height: 100%;
		margin-top: 5%;
	}

	.hero .col-xs-6 {
		padding-left:0px;
		padding-right: 0px;
		width: 100%
	}

	#block {
		width: 100%;
	}

	#big {
	}

	#big-2 {
	}

	#big-2 .col-xs-6 {
		width: 100%
	}

	#big-3 {
	}

	#big-3 .col-xs-6 {
		width: 100%;
		padding-left:0px;
		padding-right: 0px;
	}

	.col-md-4 #Layer_1 {
		display: block;
		align-content: center;
		float: none;
		margin-right: auto;
		margin-left: auto;
		margin-top: 15%;
	}

	h1 {
		font-size: 55px;
		line-height: 65px;

	}

	h2 {
	  font-size: 25px;
	  line-height: 30px;
	}

	h3 {
		font-size: 13px;
		letter-spacing: .2em;
	}

	p, ul {
		font-size: 14px;
	}

	.btn {
		width: 100%;
	}

	input {
		width: 100%;
	}

	textarea {
		width: 100%;
		height: 60px;
	}

}

@media screen and (min-width: 481px) and (max-width: 599px)  {

	.hero {
	}

	.hero .col-xs-6 {
		padding-left:0px;
		padding-right: 0px;
		width: 100%
	}

	.hero .col-xs-6 #Layer_1 {
		height: 100%;
		margin-top: 5%;
	}

	#big {
		height: inherit;
	}

	#big-2 {
	}

	#big-2 .col-xs-6 {
		width: 100%
	}

	#big-3 .col-xs-6 {
		width: 100%;
		padding-left:0px;
		padding-right: 0px;
	}

	#block {
		width: 100%;
	}

	.block-black {
		background-color: black;
	}

	.block-white{
		background-color: white;
	}

	.col-md-4 #Layer_1 {
		display: block;
		align-content: center;
		float: none;
		margin-right: auto;
		margin-left: auto;
		margin-top: 15%;
	}

	.col-xs-6 #Layer_1 {
		display: block;
		align-content: center;
		float: none;
		margin-right: auto;
		margin-left: auto;
		margin-top: 15%;
	}

	h1 {
		font-size: 40px;
		line-height: 50px;
	}

	h2 {
		font-size: 20px;
		line-height: 25px;
	}

	h3 {
		font-size: 13px;
		letter-spacing: .2em;
	}

	p, ul {
		font-size: 14px;
	}

	.btn {
		width: 100%;
	}

	input {
		width: 100%;
	}

	textarea {
		width: 100%;
		height: 60px;
	}

}

@media screen and (max-width: 480px)  {

	.hero {
		background-color:#efeee7;
		padding: 8% 10% 2% 10%;
	}

	.hero .col-xs-6 #Layer_1{
	  height: 100%;
	  margin-top: 5%;
	}

	.hero .col-xs-6 {
		padding-left:0px;
		padding-right: 0px;
		width: 100%
	}

	#big {
		height: inherit;
	}

	#big-2 {
	}

	#big-2 .col-xs-6 {
		width: 100%
	}

	#big-3 {
	}

	#big-3 .col-xs-6 {
		width: 100%;
		padding-left:0px;
		padding-right: 0px;
	}

	#block {
		width: 100%;
	}

	.block-black {
		background-color: black;
	}

	.block-white {
		background-color: white;
	}

	.col-md-4 #Layer_1{
		display: block;
		align-content: center;
		float: none;
		margin-right: auto;
		margin-left: auto;
		margin-top: 15%;
	}

	h1 {
		font-size: 30px;
		line-height: 40px;
	}

	h2 {
		font-size: 16px;
		line-height: 20px;
	}

	h3 {
		font-size: 14px;
		letter-spacing: .1em;
	}

	p, ul {
		font-size: 14px;
	}

	.btn {
		width: 100%;
	}

	input {
		width: 100%;
	}

	textarea {
		width: 100%;
		height: 60px;
	}

	.section {
		margin-top: 60px;
	}
}



/*! Swipebox v1.3.0 | Constantin Saguin csag.co | MIT License | github.com/brutaldesign/swipebox */
html.swipebox-html.swipebox-touch {
  overflow: hidden !important;
}

#swipebox-overlay img {
  border: none !important;
}

#swipebox-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999 !important;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#swipebox-container {
  position: relative;
  width: 100%;
  height: 100%;
}

#swipebox-slider {
  -webkit-transition: -webkit-transform 0.4s ease;
          transition: transform 0.4s ease;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
  white-space: nowrap;
  position: absolute;
  display: none;
  cursor: pointer;
}
#swipebox-slider .slide {
  height: 100%;
  width: 100%;
  line-height: 1px;
  text-align: center;
  display: inline-block;
}
#swipebox-slider .slide:before {
  content: "";
  display: inline-block;
  height: 50%;
  width: 1px;
  margin-right: -1px;
}
#swipebox-slider .slide img,
#swipebox-slider .slide .swipebox-video-container,
#swipebox-slider .slide .swipebox-inline-container {
  display: inline-block;
  max-height: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  width: auto;
  height: auto;
  vertical-align: middle;
}
#swipebox-slider .slide .swipebox-video-container {
  background: none;
  max-width: 1140px;
  max-height: 100%;
  width: 100%;
  padding: 5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
#swipebox-slider .slide .swipebox-video-container .swipebox-video {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
  position: relative;
}
#swipebox-slider .slide .swipebox-video-container .swipebox-video iframe {
  width: 100% !important;
  height: 100% !important;
  position: absolute;
  top: 0;
  left: 0;
}
#swipebox-slider .slide-loading {
  background: url(../images/loader.gif) no-repeat center center;
}

#swipebox-bottom-bar,
#swipebox-top-bar {
  -webkit-transition: 0.5s;
          transition: 0.5s;
  position: absolute;
  left: 0;
  z-index: 999;
  height: 50px;
  width: 100%;
}

#swipebox-bottom-bar {
  bottom: -50px;
}
#swipebox-bottom-bar.visible-bars {
  -webkit-transform: translate3d(0, -50px, 0);
          transform: translate3d(0, -50px, 0);
}

#swipebox-top-bar {
  top: -50px;
}
#swipebox-top-bar.visible-bars {
  -webkit-transform: translate3d(0, 50px, 0);
          transform: translate3d(0, 50px, 0);
}

#swipebox-title {
  display: block;
  width: 100%;
  text-align: center;
}

#swipebox-prev,
#swipebox-next,
#swipebox-close {
  background-image: url(../images/icons.png);
  background-repeat: no-repeat;
  border: none !important;
  text-decoration: none !important;
  cursor: pointer;
  width: 50px;
  height: 50px;
  top: 0;
}

#swipebox-arrows {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 50px;
}

#swipebox-prev {
  background-position: -32px 13px;
  float: left;
}

#swipebox-next {
  background-position: -78px 13px;
  float: right;
}

#swipebox-close {
  top: 0;
  right: 0;
  position: absolute;
  z-index: 9999;
  background-position: 15px 12px;
}

.swipebox-no-close-button #swipebox-close {
  display: none;
}

#swipebox-prev.disabled,
#swipebox-next.disabled {
  opacity: 0.3;
}

.swipebox-no-touch #swipebox-overlay.rightSpring #swipebox-slider {
  -webkit-animation: rightSpring 0.3s;
          animation: rightSpring 0.3s;
}
.swipebox-no-touch #swipebox-overlay.leftSpring #swipebox-slider {
  -webkit-animation: leftSpring 0.3s;
          animation: leftSpring 0.3s;
}

.swipebox-touch #swipebox-container:before, .swipebox-touch #swipebox-container:after {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: all .3s ease;
          transition: all .3s ease;
  content: ' ';
  position: absolute;
  z-index: 999;
  top: 0;
  height: 100%;
  width: 20px;
  opacity: 0;
}
.swipebox-touch #swipebox-container:before {
  left: 0;
  -webkit-box-shadow: inset 10px 0px 10px -8px #656565;
          box-shadow: inset 10px 0px 10px -8px #656565;
}
.swipebox-touch #swipebox-container:after {
  right: 0;
  -webkit-box-shadow: inset -10px 0px 10px -8px #656565;
          box-shadow: inset -10px 0px 10px -8px #656565;
}
.swipebox-touch #swipebox-overlay.leftSpringTouch #swipebox-container:before {
  opacity: 1;
}
.swipebox-touch #swipebox-overlay.rightSpringTouch #swipebox-container:after {
  opacity: 1;
}

@-webkit-keyframes rightSpring {
  0% {
    left: 0;
  }

  50% {
    left: -30px;
  }

  100% {
    left: 0;
  }
}

@keyframes rightSpring {
  0% {
    left: 0;
  }

  50% {
    left: -30px;
  }

  100% {
    left: 0;
  }
}
@-webkit-keyframes leftSpring {
  0% {
    left: 0;
  }

  50% {
    left: 30px;
  }

  100% {
    left: 0;
  }
}
@keyframes leftSpring {
  0% {
    left: 0;
  }

  50% {
    left: 30px;
  }

  100% {
    left: 0;
  }
}
@media screen and (min-width: 800px) {
  #swipebox-close {
    right: 10px;
  }

  #swipebox-arrows {
    width: 92%;
    max-width: 800px;
  }
}
/* Skin
--------------------------*/
#swipebox-overlay {
  background: #0d0d0d;
}

#swipebox-bottom-bar,
#swipebox-top-bar {
  text-shadow: 1px 1px 1px black;
  background: #000;
  opacity: 0.95;
}

#swipebox-top-bar {
  color: white !important;
  font-size: 15px;
  line-height: 43px;
  font-family: Helvetica, Arial, sans-serif;
}

/* End Swypebox Styles */
